# Ignore macOS .DS_Store files
.DS_Store

# ignore the excel sheets. They have a change every time. I also don't want to 
# upload a lot of data.
exported_dataFrames/
# ignore the large SDSS DR16 data file
exported_dataFrames/z_ra_dec_filtered_SDSS_DR16.xlsx

# Folder with voidness line plots
./output_plots/Voidiness_line_plots/

# Ignore PyCharm .idea directory
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Visual Studio Code settings directory
.vscode/

# Ignore specific files
20230720_093047.jpg
20230720_093051.jpg

# Ignore a specific directory
Random_Data/

# Ignore specific file
Results_Opacities_EBLMapCombined2_v3.txt

# Ignore Python bytecode cache directory
__pycache__/

# Ignore Python script
blazar_distances.py

# Ignore output directories
outputTables/
output_plots/old_plots/

# Ignore specific file
skycoord.ecsv

# Ignore specific Jupyter Notebook file
testingPool.ipynb

# Ignore specific ECSV files
vhe_coords.ecsv
vhe_coords_gal.ecsv

# Ignore a specific directory
void_catalog_2015.03.31/
output_plots/
output_plots/Voidiness_line_plots/Batch_no_17_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_1_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_4_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_6_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_8_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_9_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_10_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_11_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_13_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_15_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_17_of_17.jpg
output_plots/Voidiness_line_plots/Batch_no_1_of_17.jpg
breadboard.ipynb

# Ignoreing the masssive fit files that are the DR16 catalogs
SDSS Data Used/DR16Q_Superset_v3.fits
SDSS Data Used/DR16Q_v4.fits
